{% extends 'customer/layout.html' %}
{% block content %}
{% load static %}
<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Product Checkout</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  
  <!--================Checkout Area =================-->
  <section class="checkout_area section-margin--small">
    <div class="container">
        
       
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Billing Details</h3>
                    <form class="row contact_form" action="/customer/store_checkout" method="post" novalidate="novalidate">
                    	{% csrf_token %}
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" >
                            
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last name">
                           
                        </div>
                        
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="contact" name="contact" placeholder="Phone number">
                            
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email address">
                           
                        </div>
                       
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                            
                        </div>
                       
                         <div class="col-md-4 py-1">
                                        <label for="select1">State</label>
                                        <hr>

                                    <div class="form-floating">
                                        <select class="form-select" id="state" name="state">
                                          <option value="">Select State</option>
                                                {% for row in state %}
                                                <option value="{{row.id}}">{{row.state_name}}</option>
                                               
                                                {% endfor %}
                                        </select>
                                      </div>
                                </div>
                           <div class="col-md-4 py-1">
                                        <label for="select1">City</label>
                                        <hr>

                                    <div class="form-floating">
                                        <select class="form-select" id="city" name="city">
                                          <option value="">Select City</option>
                                                {% for row in city %}
                                                <option value="{{row.id}}">{{row.city_name}}</option>
                                               
                                                {% endfor %}
                                        </select>
                                      </div>
                                </div>
                                <div class="col-md-4 py-1 pb-3">
                                        <label for="select1">Area</label>
                                        <hr>

                                    <div class="form-floating">
                                        <select class="form-select" id="area" name="area">
                                           <option value="">Select area</option>
                                                {% for row in area %}
                                                <option value="{{row.id}}">{{row.area_name}}</option>
                                               
                                                {% endfor %}
                                        </select>
                                      </div>
                                </div>

                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Pincode">
                        </div>
                       <!--  <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Create an account?</label>
                            </div>
                        </div> -->
                       <!--  <div class="col-md-12 form-group mb-0">
                            <div class="creat_account">
                                <h3>Shipping Details</h3>
                                <input type="checkbox" id="f-option3" name="selector">
                                <label for="f-option3">Ship to a different address?</label>
                            </div>
                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Order Notes"></textarea>
                        </div> -->
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Your Order</h2>

                        <ul class="list">
                            <li><a href="#"><h4>Product <span>Total</span></h4></a></li>
                        	{% for row in cart %}

                            <li><a href="#">{{row.product.product_name}} x {{row.quantity}} <span class="middle"></span> <span class="last">{{row.total_price}}</span></a></li>

                            <input type="hidden" class="form-control" id="saler_id" name="saler_id" value="{{row.product.saler_reg_id}}" >
                            <input type="hidden" class="form-control" id="product_id" name="product_id" value="{{row.product_id}}" >
                            <input type="hidden" class="form-control" id="quantity" name="quantity" value="{{row.quantity}}" >
                            <input type="hidden" class="form-control" id="size" name="size" value="{{row.size}}" >
                             <input type="hidden" class="form-control" id="total_price" name="total_price" value="{{row.total_price}}" >
                        	{% endfor %}

                            
                        </ul>
                        <ul class="list list_2">
                            <li><a href="#">Subtotal <span>₹{{subtotal}}</span></a></li>
                            <!-- <li><a href="#">Shipping <span>Flat rate: $50.00</span></a></li> -->
                            <li><a href="#">Total <span>₹{{subtotal}}</span></a></li>
                        </ul>
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="payment" name="payment" value="cod">
                                <label for="payment">COD</label>
                                <div class="check"></div>
                            </div>
                            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County,
                                Store Postcode.</p>
                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="payment1" name="payment" value="paypal">
                                <label for="payment1">Paypal </label>
                                <img src="img/product/card.jpg" alt="">
                                <div class="check"></div>
                            </div>
                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                account.</p>
                        </div>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option4" name="selector">
                            <label for="f-option4">I’ve read and accept the </label>
                            <a href="#">terms & conditions*</a>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="hidden" class="form-control" id="amount" name="amount" value="{{subtotal}}" >
                            
                        </div>
                        <button  id="rzp-button1" class="btn btn-primary w-100 py-3" type="submit">Place order</button>
                        
                       <!--  <div class="text-center">

                          <a class="button button-paypal" name="submit" id="submit" href="#">Proceed to Paypal</a>
                        </div> -->
                    </div>
                </div>
            </div>
                    </form>

        </div>
    </div>
  </section>

{% endblock %}
